<h1>Recipes</h1>

<%= link_to 'New Recipe', new_recipe_path, class: "btn btn-primary" %>

<ul class="list-group">
  <% @recipes.each do |recipe| %>
    <%= link_to recipe, class: 'list-group-item' do %>
      <div class="row">
        <div class="col-md-3">
          <%= recipe.name %>
        </div>
        <div class="col-md-9">
          <%= image_tag recipe.image, height: 100 %>
        </div>
      </div>
    <% end %>
  <% end %>
</ul>