<h1 class="recipehead">Recipes</h1>

<br />
 
  <%= link_to 'New Recipe', new_recipe_path, class: "btn btn-primary primary new-recipe"  %>

  <ul class="list-group">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe, class: 'list-group-item list-group-item-action list-group-item-warning recipe-list' do %>
        <div class="row">
          <div class="recipe-name">
            <div class="col-md-6">
              <%= recipe.name %>
            </div>
          </div>
          <div class="img-thumbnail-recipes"  
            <div class="col-md-6">
              <%= image_tag recipe.image, height: 100, class: "style_image" %>
            </div>
          </div>  
        </div>
      <% end %>
    <% end %>
  </ul>
 




