


  <div class="container">
    <h1 class="welcome">Ruby</h1>
   
       <p class="intro"><span>Welcome</span> to Ruby, a site dedicated to all the types of varieties of curry recipes. You will find a selection of meat, vegetarian, fish curry recipes to choose from ranging from many different countries such as India, Thailand, Sri lanka etc.</p>  

  </div>  





