


  <div class="container">
    <h1 class="welcome">Ruby</h1>
   
       <p class="intro"><span>Welcome</span> to Ruby, a site dedicated to all the types of varieties of curry recipes. You will find a selection of Meat, Vegetarian, Fish curry recipes to choose from ranging from many different countries such as India, Thailand and Sri lanka.</p>  

       <p class="middle">There's a varied range of recipes to be seen from the popular dishes like Chicken Madras, Lamb Bhuna to unusual dishes like Sri Lankan Monkfish and Spiced Vegatable Pilaf.</p>

       <p class="end">Browse through the many recipes Ruby has to offer and if you've signed up, you can add as many curry recipes as you wish and add comments to yours and other members recipes.</p> 

  </div>  





