@import "bootstrap";

body, html {
  min-height: 100%;
}

body {
  margin: 0 auto;
  background: url('curry_big.jpg') no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  font-family: 'Lobster', cursive;

  &:after {
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: -webkit-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3));
    z-index: -1;
  }
}

.recipe-name {
  float: left;
  width: 50%;
  font-size: 40px;
  margin-top: 15px;
  margin-left: 130px;
}

.recipe-images {
  vertical-align: middle;
  margin-left: 150px;  
}

h1 {
  color: #804615;
  font-size: 3.5rem;

}

.main-content {
  z-index: 2;
  width: 80%;
  left: 12%;
  // top: 50%;
  background-color: #D4BA6A;
  margin-top: 50px;
  padding: 15px;
  opacity: 0.9;
  border-radius: 5px;
}

.welcome {
  text-align: center;
  color: #804615;
  font-size: 120px;
  margin-bottom: 18px;
  margin-top: 25px;
 

  -webkit-animation: fadein 2s; /* Safari, Chrome, Opera */
     -moz-animation: fadein 2s; /* Firefox */
      -ms-animation: fadein 2s; /* IE */
       -o-animation: fadein 2s; /* Opera */
          animation: fadein 2s;
  }

.intro {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  text-align: center;
}

.middle {
  font-size: 1.3rem;
  text-align: center;
}

.end {
  font-size: 1.3rem;
  text-align: center;
}

span {
  font-size: 2.5rem;
}


  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

.style_image {
  vertical-align: middle;
  width: 150px;
}  

.img-thumbnail-recipes {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin-left: 70px;
    border: 1px solid #804615;
}

.img-thumbnail-top {
    padding: 0.65rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
    width: 1108px;
    margin-left: 15px;
    margin-top: 10px;
}

.method {
  font-size: 2.5rem;
  margin-top: 15px;
  margin-left: 18px;
}

.list-grouplow {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: 18px;
  margin-right: 18px;
}

.profile {
  font-size: 4rem;
  margin-left: 20px;
}

.edit {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
  margin-top: 15px;
  margin-left: 20px;
}    

.navbar {
  position: relative;
  padding: 0.9rem 1rem;
  background-color: #FFEBAA;
  font-size: 20px;
}

#custom-nav {
  -webkit-box-shadow: 10px 10px 5px #D4AD6A;
  -moz-box-shadow:    10px 10px 5px #D4AD6A;
  box-shadow:         10px 10px 5px #D4AD6A;
  z-index:999;
}

.navbar-nav .nav-link {
  display: block;
  padding-top: .425rem;
  padding-bottom: .425rem;
  padding-left: 25px;
}

ul.navbar-nav a:hover {
  color: #552100;
}

.sign {
  margin-bottom: 25px;
  font-size: 4rem;
  margin-left: 14px;
}

a {
  color: #804615;
  padding: 5px;
}

.recipes-link {
  color: #804615;
  padding: 5px;
  font-size: 32px;
  margin-left: 140px;
}

.recipes-link:hover {
  color: #804615;
}

.card-img-top {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    width: 320px;
    margin-left: 20px;
    border-radius: 5px;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
  width: 550px;
}

.primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    margin-bottom: 20px;
    margin-left: 1px;
}

.recipehead {
  font-size: 4.0rem;
  margin-bottom: -5px;
  margin-top: 25px;
}

.edit {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
  margin-top: 15px;
}

.delete {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
  margin-top: 15px;
}

.comment {
  font-size: 1.5rem;
  margin-top: 45px;
  margin-left: 20px;
}

.form-control {
    display: block;
    width: 97%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    margin-top: 10px;
    margin-left: 16px;
}

// Ingredients
#expand {
  max-height: 3em;
  overflow: hidden;
  margin: 2em;

  transition: max-height 0.15s linear;
  font-size: 1.0rem;
  
  #expander:checked + & {
    max-height: 15em;
  }
}

.ingredients {
  font-size: 2.5rem;
  margin-top: 5px;
}

.dropdown {
  position: relative;
  
  &:hover {
    color: orange;
  }
  
  &:after {
    content: 'More ▼';
    white-space: nowrap;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 2em;
    
    #expander:checked ~ & {
      content: 'Less ▲';
    }
  }
}

#expander {
  display: none;
}

.backbutton {
  color: #804615;
  padding: 5px;
  margin-left: 15px;
  font-size: 20px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    margin-left: 15px;
    font-size: 20px;
}    

.edithead {
  font-size: 4rem;
  margin-left: 17px;
}

.recipetitle {
  font-size: 2.00rem;
  margin-top: 30px;
  margin-bottom: 35px;
  margin-left: 140px;
  text-decoration: underline;
}

.users-recipe-img {
  max-width: 200px;
  display: block;
  margin-left: 150px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.card-title {
  font-size: 1.75rem;
  margin-top: 20px;
  margin-left: 20px;
}

// .list-group-item:first-child {
//   border-top-right-radius: 0.25rem;
//   border-top-left-radius: 0.25rem;
//   margin-right: 140px;
//   margin-left: 110px;
//   border-radius: 5px;
// }

// .list-group-item:last-child {
//   margin-bottom: 0;
//   border-bottom-right-radius: 0.25rem;
//   border-bottom-left-radius: 0.25rem;
//   margin-right: 140px;
//   margin-left: 110px;
//   margin-top: 10px;
//   border-radius: 5px;
//   margin-bottom: 50px;
// }

.First {
  margin-left: 20px;
  font-size: 1.2rem;
  margin-top: 40px;
  color: #804615; 
}

.Last {
  margin-left: 20px;
  font-size: 1.2rem;
  color: #804615;
}

.email {
  margin-left: 20px;
  font-size: 1.2rem;
  color: #804615;
}

.profile-tab {
  margin: 0;
  line-height: inherit;
  border-radius: 0;
  margin-left: 15px;
}

#characters {
  margin-left: 17px;
}

.new-recipe {
  font-size: 20px;
  background-color: #804615;
  border-radius: 5px;
  border-color: #804615;
}

.new-recipe:hover {
  background-color: #804615;
  margin-left: 2px;
}

.edit-button {
  font-size: 20px;
  background-color: #804615;
  border-color: #804615; 
}

.delete-button {
  font-size: 20px;
  background-color: #b30000;
  border-color: #b30000; 
}

.edit-button:hover {
  background-color: #804615;
}

.delete-button:hover {
  background-color: #b30000;
}

.belowbutton {
  color: #fff;
  background-color: #804615;
  border-color: #804615;
  margin-left: 18px;
  font-size: 20px;
}

.belowbutton:hover {
  background-color: #804615;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  margin-left: 17px;
  margin-right: 19px;
}

.method-list:last-child {
  // background-color: #804615;
  margin-left: 0px;
}

.recipe-list:last-child {
  margin-left: 0px;
}

.update-button {
  font-size: 20px;
  margin-left: 17px;
  background-color: #804615;
  border-color: #804615;
  margin-bottom: -7px;
}

.update-button:hover {
  background-color: #804615;
}

.showbutton {
  font-size: 20px;
  margin-left: 17px;
}

.showbutton:hover {
  color: #804615;
}

.backbutton {
  font-size: 20px;
}

.backbutton:hover {
  color: #804615;
}

.sign-up {
  font-size: 25px;
  margin-left: 17px;
  margin-top: 3px;
  background-color: #804615;
  border-color: #804615;
}

.sign-up:hover {
  background-color: #804615;
}

.login-button {
  font-size: 20px;
  background-color: #804615;
  border-color: #804615;
}

.login-button:hover {
   background-color: #804615;
}

.update-editbutton {
  font-size: 20px;
  background-color: #804615;
  border-color: #804615;
  margin-left: 16px;
}

.update-editbutton:hover {
  background-color: #804615;
}

.account {
  font-size: 20px; 
  margin-left: 14px;
}

#nothappy {
  font-size: 25px;
  margin-left: 17px;
}

.recipe-back {
  font-size: 20px;
  margin-left: 12px;
}








